*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://img.pikbest.com/wp/202343/vibrant-abstract-mixed-color-background-acrylic-paint-texture-wallpaper_9982945.jpg!bw700");
    background-size: cover;
}

#timer{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 30px yellow;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    background-color: black;
    color: white;
}

#timer p{
   font-size: 2rem;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
}

#start{
   background-color: rgb(16, 172, 16);
}
#stop{
   background-color: rgb(245, 56, 56);
}
#reset{
   background-color: rgb(244, 244, 43);
}

#lap{
    background-color: coral;
}

h3{
    margin: 1rem;
}

#lapTimes{
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  display: none;
  background-color: burlywood;
  border-radius: 20px;
}